@use '../../stylesheets/mixin' as mixin;

.cheer {
	height: 100%;

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__flex {
		align-items: center;
		display: flex;
		flex: 1 0 auto;
	}

	&__title {
		display: block;
		font-size: 1.8rem;
		width: 100%;
	}

	&__label {
		font-size: 2rem;
		width: 100%;
	}

	&__labelTitle {
		display: block;
	}

	&__textarea {
		display: block;
		font-size: 24px;
		line-height: 1.1;
		padding: 10px;
		resize: none;
		width: 100%;
	}

	&__inputPoint {
		font-size: 32px;
		margin-right: 10px;
		margin-top: 8px;
	}

	&__textarea_memo {
		font-size: 20px;
		height: 100%;
		margin-top: 8px;
	}

	&__buttonWrapper {
		bottom: -100px;
		display: flex;
		justify-content: space-evenly;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 100%;
	}

	&__button {
		background-color: mixin.$bgColor;
		font-size: 18px;
		min-width: 150px;
		padding: 15px 10px;
	}
}
